*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --size: 12vmin;
  --gap: 2vmin;
  --x: 0;
  --y: 0;
}

html {
  overflow: hidden;
}

body {
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: calc(((var(--size) + var(--gap)) * 4) + var(--gap));
  display: flex;
  align-items: center;
  height: 100vh;
}

.header {
  background-color: rgb(250, 250, 250);
}

.header__title {
  color: rgb(116, 108, 97);
  letter-spacing: 2px;
  font-size: 56px;
  margin-bottom: 10px;
}

.statistics {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.statistics__item {
  border-radius: 3px;
  background-color: rgb(186, 174, 160);
  color: rgb(240, 224, 211);
  font-weight: bolder;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 19vmin;
  min-width: 130px;
}

.statistics__item+.statistics__item {
  margin-left: 10px;
}

.statistics__menu {
  align-self: end;
  border-radius: 3px;
  border: none;
  background-color: rgb(186, 174, 160);
  cursor: pointer;
  outline: none;
  margin-right: auto;
  padding: 8px;
}

.statistics__menu:active {
  scale: .95;
}

.statistics__menu svg {
  color: #fff;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__description {
  color: rgb(116, 108, 97);
  line-height: 120%;
}

.header__description span {
  font-weight: bolder;
}

.header__button {
  border: 1px solid rgb(145, 124, 103);
  border-radius: 5px;
  background-color: rgb(145, 124, 103);
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
  text-transform: capitalize;
  transition: all .2s;
  min-width: 100px;
}

.header__button:active {
  scale: .95;
}

.statistics__item span {
  color: #fff;
  display: block;
  font-size: 16px;
  margin-top: 3px;
}

/*******************************************************************************************************************************************
**********************************************************************ОСНОВНОЕ МЕНЮ ********************************************************
********************************************************************************************************************************************/
.menu-main {
  background-color: rgba(0, 0, 0, .5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
}

.menu-main__inner {
  border-radius: 7px;
  background-color: rgb(214, 214, 214);
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  overflow-y: scroll;
  height: 300px;
  width: 250px;
}

.menu-main__title {
  color: rgb(116, 108, 97);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 24px;
}

.menu-main__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.menu-main__item {
  background-color: rgb(163, 148, 125);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 7px 12px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  width: 160px;
}

.menu-main__item:active {
  scale: .99;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 13px;
  filter: invert(.3);
  z-index: 1;
}

.menu-main__inner::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.menu-main__inner::-webkit-scrollbar-track {
  background: transparent;
}

.menu-main__inner::-webkit-scrollbar-thumb {
  background-color: rgb(155, 155, 155);
  height: 1px;
  width: 1px;
}

/*******************************************************************************************************************************************
**********************************************************************МЕНЮ РЕЗУЛЬТАТОВ******************************************************
********************************************************************************************************************************************/
.menu-results {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
}

.menu-results__inner {
  border-radius: 7px;
  background-color: rgb(214, 214, 214);
  overflow-y: scroll;
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  height: 300px;
  width: 250px;
}

.menu-results__title {
  color: rgb(116, 108, 97);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 5px;
}

.menu-results__item {
  border-bottom: 1px solid rgb(163, 148, 125);
  border-radius: 2px;
  color: rgb(116, 108, 97);
  letter-spacing: 1px;
  padding: 7px 5px 0px;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-left: 20px;
  width: 80%;
}

.menu-results__inner::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.menu-results__inner::-webkit-scrollbar-track {
  background: transparent;
}

.menu-results__inner::-webkit-scrollbar-thumb {
  background-color: rgb(155, 155, 155);
  height: 1px;
  width: 1px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 25px;
}

.game__inner {
  border: var(--gap) solid rgb(183, 174, 165);
  border-radius: 1vmin;
}

.game__board {
  background-color: rgb(183, 174, 165);
  display: grid;
  grid-template-columns: repeat(4, var(--size));
  grid-template-rows: repeat(4, var(--size));
  gap: var(--gap);
  position: relative;
}

.game__cell {
  background-color: rgb(206, 194, 178);
}

.game__tile {
  animation: show .2s;
  background-color: rgb(61, 58, 51);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5.5vmin;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(var(--y) * (var(--size) + var(--gap)));
  left: calc(var(--x) * (var(--size) + var(--gap)));
  transition: all .2s;
  height: var(--size);
  width: var(--size);
}

.game-over {
  background-color: rgba(255, 243, 8, 0.536);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

.game-over__inner,
.victory__inner {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 242px;
  max-width: calc(((var(--size) + var(--gap)) * 4) + var(--gap));
}

.game-over__text,
.victory__text {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  margin-bottom: 5px;
}

.game-over__description,
.victory__description {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.game-over__button,
.victory__button {
  background-color: rgb(145, 124, 103);
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px 15px;
  text-align: center;
  text-transform: capitalize;
  width: 140px;
}

.victory {
  background-color: rgba(255, 243, 8, 0.536);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

.victory__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link>svg {
  fill: rgb(68, 64, 60);
}

.footer__item {
  position: relative;
  z-index: 1;
}

.footer__item--year {
  color: rgb(68, 64, 60);
  font-size: 48px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.footer__item--github::after {
  border-radius: 10px;
  content: "";
  background-color: #000;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
  height: 3px;
  width: 0px;
}

.footer__item--github:hover::after {
  width: 100%;
}

.footer__item--rs-school::after {
  border-radius: 10px;
  content: "";
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
  height: 3px;
  width: 0px;
}

.footer__item--rs-school:hover::after {
  width: 100%;
}

.footer__img--rs {
  filter: invert(.8);
  vertical-align: bottom;
  height: 60px;
  width: 100px;
}

.modal__active {
  display: flex;
}

.success {
  color: green;
  display: block;
  text-align: center;
  margin-top: 5px;
}


@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@media (max-width: 700px) {
  .header__description {
    max-width: 250px;
  }

  .victory__button {
    width: 105px;
  }
}

@media (max-width: 600px) {
  .header__title {
    font-size: 42px;
  }

  .header__description {
    max-width: 200px;
  }

  .game {
    margin-bottom: 10px;
  }

  .footer__link svg {
    height: 40px;
    width: 40px;
  }

  .footer__item--year {
    font-size: 32px;
  }

  .footer__img--rs {
    height: 50px;
    width: 80px;
  }
}

@media (max-width: 560px) {
  :root {
    --size: 14vmin;
  }
}

@media (max-width: 500px) {
  :root {
    --size: 16vmin;
  }

  .header__content {
    margin-bottom: 10px;
  }
}

@media (max-width: 440px) {
  :root {
    --size: 18vmin;
  }

  .game__tile {
    font-size: 7.5vmin;
  }
}

@media (max-width: 385px) {
  :root {
    --size: 19vmin;
  }

  .header__description {
    font-size: 14px;
    max-width: 195px;
  }

  .header__button {
    padding: 7px 4px;
    min-width: 90px;
  }

  .statistics__menu {
    padding: 5px;
  }

  .statistics__item {
    font-size: 11px;
    min-width: 105px;
  }

  .statistics__item span {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  :root {
    --size: 20vmin;
  }

}