.mobile-app__inner {
    display: flex;
    column-gap: 100px;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;

    &__title {
        text-align: left;
        margin-bottom: 0;
    }

    &__box {
        display: flex;
        column-gap: 20px;
    }

    &__btn {
        border: 1px solid $text-dark;
        display: grid;
        gap: 2px 8px;
        grid-template-columns: 36px auto;
        grid-template-rows: auto auto;
        padding: 14px 20px;
        transition: all 0.3s;
    }

    &__icon {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
    }

    &__icon path {
        fill: $text-dark;
        transition: all 0.3s;
    }

    &__available {
        color: $text-dark;
        font-size: 10px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        line-height: 14px;
        text-align: left;
        transition: all 0.3s;
    }

    &__app {
        color: $text-dark;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: left;
        transition: all 0.3s;
    }
}

.mobile {
    max-height: 630px;
    max-width: 630px;

    & img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

@media (hover: hover) {
    .download__btn:hover {
        background-color: $bg-container;
        border: 1px solid $bg-container;
    }

    .download__btn:hover span {
        color: $text-light;
    }

    .download__btn:hover svg path {
        fill: $text-light;
    }
}

@media (max-width: 1050px) {
    .mobile-app__inner {
        column-gap: 50px;
    }
}

@media (max-width: 971px) {
    .mobile-app__inner {
        column-gap: 20px;
    }
}

@media (max-width: 920px) {
    .mobile-app__inner {
        column-gap: 0;
        flex-direction: column;
        row-gap: 100px;
    }

    .mobile {
        max-width: 100%;

        & img {
            max-height: 630px;
        }
    }
}

@media (max-width: 550px) {
    .download__title {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width: 450px) {
    .mobile-app__inner {
        row-gap: 40px;
    }

    .download__box {
        flex-direction: column;
        row-gap: 20px;
    }
}
