.loader {
    animation: rotation 1s linear infinite;
    border-radius: 50%;
    border: 10px solid #000;
    border-bottom-color: transparent;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 120px;
    margin-top: 150px;
    width: 120px;
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -150%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -150%) rotate(360deg);
    }
}
