:root {
    --bg-form-btn: rgb(199, 50, 82);
    --bg-btn: rgb(44, 49, 71);
    --bg-body: rgb(23, 23, 35);
    --bg-content: rgb(34, 33, 49);
    --border-input: rgb(73, 73, 85);
    --main-color: rgb(190, 190, 202);
}
