@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.woff'), url('../fonts/Inter-Regular.woff');
    display: swap;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/Inter-SemiBold.woff2'), url('../fonts/Inter-SemiBold.woff2');
    display: swap;
}
