$text-dark: rgba(64, 63, 61, 1);
$text-light: rgba(225, 212, 201, 1);
$text-accent: rgba(176, 144, 122, 1);

$bg-body: rgba(225, 212, 201, 1);
$bg-container: rgba(102, 95, 85, 1);
$bg-backdrop: rgba(64, 63, 61, 0.8);

$border-light: rgba(193, 182, 173, 1);
$border-dark: rgba(102, 95, 85, 1);
