.bug {
    background-color: red;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 900;
    margin: 0 auto 15px;
    max-width: 640px;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 100%;
}
