@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.woff"), url("../fonts/Inter-Regular.woff2");
  display: swap;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-SemiBold.woff"), url("../fonts/Inter-SemiBold.woff2");
  display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E1D4C9;
  color: #403F3D;
  font-family: "Inter-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  overflow-x: hidden;
}

.body-inner {
  overflow-X: clip;
  position: relative;
  width: 100%;
}

.container {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.page {
  margin-bottom: 100px;
}

.title {
  font-family: "Inter-Regular";
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}

.title span {
  color: #B0907A;
  font-style: italic;
}

.text {
  margin-bottom: 40px;
}

.btn {
  border-radius: 100px;
  font-family: "Inter-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  width: 200px;
}
.btn__text {
  color: #403F3D;
  transition: all 0.3s;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.tabs__inner {
  display: flex;
  justify-content: center;
  gap: 0 16px;
  margin-bottom: 40px;
}
.tabs__title {
  text-align: center;
  margin: 20px auto 40px;
  max-width: 800px;
}
.tabs__item {
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  font-family: "Inter-Regular";
  align-items: center;
  padding: 8px 16px 8px 8px;
  transition: all 0.6s;
}
.tabs__item:has(input:checked) {
  background-color: #665F55;
  color: #E1D4C9;
  cursor: default;
}
.tabs__input {
  display: none;
}
.tabs__input:checked + .tabs__input-custom {
  background-color: #E1D4C9;
}
.tabs__input-custom {
  background-color: #C1B6AD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  transition: all .6s;
  height: 30px;
  width: 30px;
}

.menu__inner {
  margin-bottom: 60px;
}
.menu__item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: subgrid;
  gap: 40px;
  margin-bottom: 40px;
}
.menu__item--active {
  display: grid;
}
.menu__drink {
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  padding-bottom: 62px;
  min-height: 507px;
}
.menu__title {
  font-family: "Inter-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  padding: 20px 20px 12px;
}
.menu__text {
  font-family: "Inter-Regular";
  font-weight: 400;
  padding: 0px 20px;
  line-height: 150%;
}
.menu__picture-box {
  border-radius: 40px;
  overflow: hidden;
  height: 310px;
}
.menu__picture img {
  object-fit: cover;
  transition: all 0.6s;
  scale: 1.05;
  height: 100%;
  width: 100%;
}
.menu__price {
  font-family: "Inter-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.menu__load{
  display: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s;
  height: 100vh;
  z-index: 1;
}
.modal__inner {
  background-color: #E1D4C9;
  border-radius: 40px;
  display: flex;
  gap: 0 20px;
  padding: 16px;
  transition: transform 0.2s;
  transform: translateY(0);
  max-width: 800px;
  height: 504px;
}
.modal__product img {
  border-radius: 40px;
  height: 315px;
  width: 310px;
}
.modal__title {
  font-family: "Inter-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}
.modal__size {
  margin-bottom: 20px;
  min-height: 78px;
}
.modal__additives {
  margin-bottom: 20px;
}
.modal__description {
  font-family: "Inter-Regular";
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 150%;
}
.modal__choice-title {
  font-family: "Inter-Regular";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  min-height: 24px;
}
.modal__choice {
  display: flex;
  gap: 0 8px;
}
.modal__label {
  background-color: transparent;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0 8px;
  padding: 8px 16px 8px 8px;
  transition: all 0.3s;
}
.modal__label:has(.modal__input:checked) {
  background-color: #665F55;
  color: #E1D4C9;
}
.modal__input {
  display: none;
}
.modal__input:checked + .modal__input-custom {
  background-color: #E1D4C9;
  color: #403F3D;
}
.modal__input-custom {
  background-color: #C1B6AD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
  height: 30px;
  width: 30px;
}
.modal__total {
  margin-bottom: 20px;
}
.modal__total-title {
  display: flex;
  justify-content: space-between;
  font-family: "Inter-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 20px;
}
.modal__btn {
  background-color: transparent;
  border: 1px solid #665F55;
  color: #403F3D;
  cursor: pointer;
  font-family: "Inter-Regular";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  transition: all 0.3s;
  padding: 10px 78px;
  margin-bottom: 16px;
  max-height: 44px;
  width: 100%;
}
.modal__deactive {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: -1;
}
.modal__deactive .modal__inner {
  transform: translateY(-200px);
}

.warning {
  display: flex;
  gap: 0 8px;
  padding: 12px 12px 12px 0;
}
.warning__img {
  flex-shrink: 0;
  width: 16px;
}
.warning__text {
  font-family: "Inter-Regular";
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  position: relative;
}
.warning__text::after {
  background-color: #C1B6AD;
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: -24px;
  height: 1px;
  width: calc(100% + 24px);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a:hover, a:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  margin: 20px 0;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
}

.navigation__list {
  display: flex;
  transition: all 1s;
}
.navigation__item {
  position: relative;
}
.navigation__item::after {
  background-color: #403F3D;
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  right: 50%;
  transition: all 0.3s;
  height: 2px;
}
.navigation__item + .navigation__item {
  margin-left: 40px;
}
.navigation__item:not(.navigation__item:last-child) {
  position: relative;
  left: 10px;
}
.navigation__item:last-child {
  position: absolute;
  top: 20px;
  right: 0;
  width: 72px;
}
.navigation__link {
  display: flex;
}
.navigation__link--menu {
  cursor: default;
  position: relative;
}
.navigation__link--menu::after {
  background-color: #403F3D;
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
}
.navigation__img {
  align-self: flex-start;
  margin-left: 8px;
}
.navigation__vector {
  display: none;
  transition: all 0.4s;
}

.enjoy__inner {
  position: relative;
  padding: 100px;
  height: 644px;
}
.enjoy__title {
  color: #E1D4C9;
  font-size: 72px;
  line-height: 105%;
  max-width: 530px;
}
.enjoy__text {
  color: #E1D4C9;
  font-family: "Inter-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 530px;
}
.enjoy__link {
  background-color: #E1D4C9;
  color: #403F3D;
  display: flex;
  gap: 0 8px;
  text-align: center;
  padding: 20px 78px;
  overflow: hidden;
}
.enjoy__link img {
  position: relative;
  top: -100px;
  transition: all 0.4s;
}
.enjoy__video {
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.favorites-coffee__title {
  text-align: center;
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider__inner {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  transition: all 0.7s;
  max-height: 680px;
}
.slider__item {
  display: flex;
  justify-content: center;
}
.slider__item-inner {
  max-width: 480px;
}
.slider__picture img {
  margin-bottom: 20px;
  max-width: 480px;
}
.slider__title {
  font-family: "Inter-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}
.slider__description {
  font-family: "Inter-Regular";
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  margin: 16px 0;
}
.slider__price {
  font-family: "Inter-Regular";
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 40px;
}
.slider__vector {
  border: 1px solid #665F55;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}
.slider__vector--left {
  left: 1px;
}
.slider__vector--right {
  right: 7px;
}
.slider__vector svg {
  stroke: #403F3D;
  transition: all .3s;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0 12px;
  position: relative;
  z-index: 1;
}
.pagination__item {
  background-color: #C1B6AD;
  border-radius: 100px;
  height: 4px;
  width: 40px;
}
.pagination__item:not(.pagination__item--active) {
  cursor: pointer;
}
.pagination__item--active .pagination__progress {
  background-color: #665F55;
}
.pagination__progress {
  height: inherit;
  width: 0%;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 470px 160px 430px;
  gap: 0px 40px;
}
.about__item {
  overflow: hidden;
  border-radius: 20px;
}
.about__item:nth-child(4n+1) {
  margin-bottom: 40px;
}
.about__item:nth-child(4n+2) {
  margin-bottom: 40px;
}
.about__item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}
.about__item:nth-child(2) {
  grid-column: 2/-1;
  grid-row: 1/2;
}
.about__item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/-1;
}
.about__item:nth-child(4) {
  grid-column: 2/-1;
  grid-row: 2/-1;
}
.about__item img {
  border-radius: 20px;
  transition: all 0.8s;
  scale: 1.05;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.mobile-app__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 100px;
  max-height: 630px;
}
.mobile-app__title {
  max-width: 620px;
}
.mobile-app__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile-app__download {
  display: flex;
  gap: 0 20px;
}
.mobile-app__text{
  line-height: 150%;
}
.mobile-app__mobile img {
  height: 100%;
  width: 100%;
}
.mobile-app__btn {
  border: 1px solid #403F3D;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  transition: all 0.3s;
}
.mobile-app__btn span {
  fill: #403F3D;
  transition: all 0.3s;
}
.mobile-app__btn svg {
  margin-right: 8px;
}
.mobile-app__btn svg path {
  fill: #403F3D;
  transition: all 0.3s;
}

.footer__inner {
  background-color: #665F55;
  border-radius: 40px;
  display: flex;
  gap: 0 100px;
  padding: 100px;
  margin-bottom: 40px;
}
.footer__title {
  color: #E1D4C9;
  max-width: 530px;
}

.social {
  display: flex;
  gap: 0 12px;
}
.social__item {
  border: 1px solid #C1B6AD;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}
.social__item path {
  stroke: #E1D4C9;
  transition: all 0.3s;
}
.social__link {
  height: 24px;
}

.contacts {
  color: #E1D4C9;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular";
}
.contacts__inner {
  height: -moz-max-content;
  height: max-content;
}
.contacts__title {
  font-size: 24px;
}
.contacts__item {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.contacts__item:not(.contacts__item--time)::after {
  background-color: #E1D4C9;
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  right: 50%;
  transition: all 0.3s;
  height: 2px;
}
.contacts__item--time {
  cursor: default;
}
.contacts__item + .contacts__item {
  margin-top: 16px;
}
.contacts__link {
  line-height: 150%;
}
.contacts__link svg {
  margin-right: 8px;
}

.btn__text {
  margin-right: auto;
}

.btn__text span {
  color: #403F3D;
  display: block;
  font-family: "Inter-Bold";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
}

@media (hover: hover) {
  .navigation__item:not(.navigation__item--menu):hover::after {
    left: 0;
    right: 0;
  }
  .enjoy__link:hover img {
    top: 0px;
  }
  .slider__vector:hover {
    background-color: #665F55;
    border-color: #665F55;
  }
  .slider__vector:hover svg {
    stroke: #E1D4C9;
  }
  .about__item:hover img {
    scale: 1;
  }
  .mobile-app__btn:hover {
    background-color: #665F55;
    border-color: #665F55;
    color: #E1D4C9;
  }
  .mobile-app__btn:hover span {
    color: #E1D4C9;
  }
  .mobile-app__btn:hover svg path {
    fill: #E1D4C9;
  }
  .mobile-app__btn:hover .btn__text {
    color: #E1D4C9;
  }
  .social__item:hover {
    background-color: #E1D4C9;
  }
  .social__item:hover path {
    stroke: #403F3D;
  }
  .contacts__item:hover::after {
    left: 0;
    right: 0;
  }
  .tabs__item:hover {
    background-color: #665F55;;
    color: #E1D4C9;
  }
  .tabs__item:hover .tabs__input-custom {
    background-color: #E1D4C9;
  }
  .menu__drink:hover .menu__picture img {
    scale: 1;
  }
  .modal__btn:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
  .modal__label:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
  .modal__label:hover .modal__input-custom {
    background-color: #E1D4C9;
    color: #403F3D;
  }
}
@media (max-width: 1024px) {
  .mobile-app__inner {
    gap: 0 50px;
  }
  .footer__inner {
    flex-direction: column;
    gap: 100px 0px;
  }
  .menu__item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 924px) {
  .navigation__item + .navigation__item {
    margin-left: 35px;
  }
  .enjoy__inner {
    padding: 100px 60px;
  }
  .mobile-app__inner {
    grid-template-columns: 1fr;
    gap: 0 100px;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .mobile-app__title {
    max-width: 100%;
  }
  .footer__inner {
    padding: 100px 60px;
  }
  .modal__inner {
    max-width: 688px;
    height: 626px;
  }
  .modal__choice {
    flex-wrap: wrap;
    gap: 8px;
  }
  .modal__product {
    border-radius: 40px;
    display: block;
    overflow: hidden;
    height: 310px;
    min-width: 310px;
  }
  .modal__size {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .header__inner {
    justify-content: space-between;
    position: static;
  }
  .header__logo {
    position: relative;
  }
  .navigation {
    border: 1px solid #665F55;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px 0px;
    height: 44px;
    width: 44px;
  }
  .navigation__inner {
    position: relative;
  }
  .navigation__list {
    background-color: #E1D4C9;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
    position: absolute;
    top: 75px;
    left: -40px;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    min-height: 924px;
    width: calc(100% + 80px);
    z-index: 2;
  }
  .navigation__list:not(.navigation__list--open) ~ .navigation__vector--up {
    transform: rotate(0deg) translate(0px, 0px);
  }
  .navigation__list:not(.navigation__list--open) ~ .navigation__vector--bottom {
    transform: rotate(0deg) translate(0px, 0px);
  }
  .navigation__list--open {
    transform: translateX(0%);
  }
  .navigation__item {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
    top: 0;
    left: 0;
  }
  .navigation__item + .navigation__item {
    margin-top: 60px;
    margin-left: 0;
  }
  .navigation__item:last-child {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 100px;
    width: auto;
  }
  .navigation__img {
    height: 40px;
    width: 40px;
  }
  .navigation__vector {
    display: block;
    position: relative;
  }
  .navigation__vector--up {
    transform: rotate(45deg) translate(4px, 3px);
  }
  .navigation__vector--bottom {
    transform: rotate(-45deg) translate(4px, -3px);
  }
  .enjoy__link img {
    top: 0;
  }
  .about__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
  }
  .about__item {
    display: none;
  }
  .about__item img{
    max-height: 590px;
  }
  .about__item:nth-child(1) {
    display: block;
    grid-column: auto;
    grid-row: auto;
  }
  .about__item:nth-child(4) {
    display: block;
    grid-column: auto;
    grid-row: auto;
  }
  .mobile-app__inner {
    gap: 100px 0px;
  }
  .mobile-app__mobile{
    margin: 0 auto;
    max-height: 630px;
    max-width: 645px;
  }
  .tabs__title {
    max-width: 687px;
  }
  .menu__inner {
    padding: 0px 14px;
    margin-bottom: 100px;
  }
  .menu__item{
    position: relative;
    padding-bottom: 92px;
  }
  .menu__drink:nth-child(n+5){
    display: none;
  }
  .menu__item:not(.menu__item--unload) .menu__drink:nth-child(n+5){
    display: block;
  }
  .menu__item:not(.menu__item--unload)>.menu__load-box{
    display: none;
  }
  .menu__load-box{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu__load{
    border: 1px solid #665F55;
    border-radius: 50%;
    display: block;
    height: 60px;
    width: 60px;
  }
  .menu__load:active{
    scale: .98;
  }
  .contacts__link svg {
    margin-right: 4px;
  }
}
@media (max-width: 705px) {
  .enjoy__inner {
    padding: 80px 30px;
  }
  .enjoy__title {
    font-size: 58px;
  }
  .enjoy__video{
    max-height: 550px;
  }
  .modal__inner {
    height: auto;
    max-width: 600px;
  }
  .modal__product {
    display: none;
  }
}
@media (max-width: 650px) {
  .container {
    padding: 0 25px;
  }
  .navigation__list {
    position: absolute;
    top: 75px;
    left: -16px;
    right: 0;
    bottom: 0;
    width: calc(100% + 32px);
  }
  .title {
    font-size: 42px;
  }
  .modal__inner {
    max-width: 500px;
  }
}
@media (max-width: 550px) {
  .enjoy__inner {
    padding: 60px 16px;
  }
  .slider__picture {
    display: flex;
    justify-content: center;
  }
  .slider__picture img {
    text-align: center;
    max-width: 345px;
  }
  .slider__description {
    max-width: 400px;
  }
  .slider__vector {
    display: none;
  }
  .menu__item {
    grid-template-columns: 1fr;
    gap: 40px 0px;
  }
  .modal__inner {
    max-width: 400px;
  }
}
@media (max-width: 500px) {
  .mobile-app__inner {
    gap: 40px 0px;
  }
  .mobile-app__download {
    flex-direction: column;
    gap: 20px 0;
  }
  .footer__inner {
    padding: 60px 16px;
    gap: 40px 0px;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 32px;
  }
  .enjoy__title {
    font-size: 42px;
  }
  .about__title {
    max-width: 345px;
  }
  .slider__description {
    max-width: 335px;
  }
  .modal__inner {
    max-width: 342px;
  }
}
@media (max-width: 380px) {
  .container {
    padding: 0 16px;
  }
  .about__grid {
    grid-template-rows: none;
    grid-auto-rows: 630px 592px;
  }
  .about__item img {
    scale: 1.2;
  }
  .footer__title {
    word-wrap: break-word;
  }
  .contacts__title {
    font-size: 24px;
  }
  .enjoy{
    margin-bottom: 10px;
  }
  .enjoy__title{
    margin-bottom: 50px;
  }
  .enjoy__link{
    padding: 20px 65px;
  }
  .enjoy__link img{
    left: 3px;
  }
  .tabs__inner{
    gap: 5px;
  }
  .tabs__title{
    max-width: 345px;
  }
  .menu__inner{
    padding: 0 20px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0 16px;
  }
  .title {
    font-size: 28px;
  }
  .enjoy__title {
    font-size: 36px;
  }
  .slider__description {
    max-width: 280px;
  }
  .modal__inner {
    max-width: 305px;
  }
}