@import '~normalize.css';
@import './fonts.scss';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Roboto-Regular';
  font-size: 24px;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

button:active {
  scale: 1.01;
}

label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

label > span {
  text-transform: capitalize;
}

input {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 10px;
  outline: none;
  height: 35px;
  width: 100%;
}

input::placeholder {
  font-size: 16px;
}

@media (hover: hover) {
  .registration__complete:hover,
  .home__btn:hover {
    background-color: rgb(79, 44, 62);
  }
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
